<div class="container col-md-6">
    <div class = "card">
        <div class="card-header">
            <h3>New Car</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">carowner</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">carbrand</label>
                    <input type="text" class="form-control">
                </div>
                <button (click)="Addnew()" class="btn btn-danger">Add new</button>
            </form>
        </div>
    </div>
</div> 